*
{
    margin: 0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
main{
    width: 95%;

}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;

}
.logo{
    color: blue;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}
.menu{
    width: 600px;
    float: left;
    height: auto;
}
ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
ul li a:hover{
    color: green;
}
.search-box .search-txt{
    width:100px;
    padding: 0px 20px;
}
.search-btn{
    text-decoration: none;
    background: wheat;
    color: black;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: greenyellow;
    font-size: 15px;
    line-height: .1px;
    letter-spacing: .6px;
}
.title{
    position: absolute;
    top: 35%;
    left: 30%;

}
.title h1{
cursor: pointer;
font-family: cursive;
color: black;
font-size: 46px;
}
.button{
    position: absolute;
    top: 87%;
    left: 37%;
}
.btn{
    color: black;
    padding: 5px 20px;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 30px;
    background-color: green;


}
.btn:hover{
    background-color: #fae502;
    color: black;
}